.wrapper {
  background: #F0ECE0;
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main__container {
  min-height: 425px;
  width: 600px;
  background-color: #FFFFFF;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  box-shadow: 0px 4px 30px rgba(218, 200, 233, 0.3);
  padding: 20px;
}

.main__container form {
  position: relative;
  height: 360px;
}

.main__container button[type='submit'] {
  position: absolute;
  bottom: 20px;
  right: 0;
}

.like__button {
  width: 125px;
  height: 100px;
  background-color: #282c34;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  line-height: 8;
  cursor: pointer;
  position: relative;
}

.like__button:active, .like__button:focus {
  outline: none;
}

.like__button:hover {
  filter: invert(1);
}

.like__button.active {
  color: #ea27bd;
}
